#app-root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2em;
}

.card {
  padding: 2em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
form {
  width: 100%;
  margin: 0;
  text-align: left;
}

input{
  width: 350px;
  padding: 6px;

  box-sizing: border-box;
}

button {
  padding: 1px ;
  margin-top: 1px;
}
h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}


.file-input::file-selector-button {
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
